
.st-emotion-cache-1dc40ss h2  {
    font-size: 2.0rem !important;
    font-weight: bold;
    margin-bottom: 1rem;
}
.st-emotion-cache-zy6yx3 {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

[data-testid="stAppViewContainer"] {
    background-color: #fefefe;
}

[data-testid="stSidebar"] {
    background-color: #f0f2f6;
}

[data-testid="stToolbarActions"] {
    background-color: #f0f2f6;
    display: none;
    visibility: hidden;
}

[data-testid="stMarkdownContainer"] {
    color: black;
    font-size: 1rem;
}